@import "workflow-custom.css";

#page_x002e_data-form_x002e_standaloneedittask_x0023_default-form-container {
	min-width: 0px;
}

#page_x002e_data-header_x002e_standaloneedittask,
#page_x002e_data-form_x002e_standaloneedittask {
	width: 350px;
}

#page_x002e_data-header_x002e_standaloneedittask_x0023_default-body,
#page_x002e_data-form_x002e_standaloneedittask_x0023_default_form-container {
	min-width: 269px !important;
	width: auto;
}

#page_x002e_data-header_x002e_standaloneedittask_x0023_default-body > div.clear {
	clear: none;
}

#page_x002e_data-header_x002e_standaloneedittask_x0023_default-body h1 {
	display: none;
}

#page_x002e_data-header_x002e_standaloneedittask_x0023_default-body actions {
	float: right;
}

#page_x002e_data-header_x002e_standaloneedittask_x0023_default-body .unassigned-message {
	float: left;
}

#page_x002e_data-form_x002e_standaloneedittask_x0023_default-form-fields {
	min-width: 269px;
}

#page_x002e_data-form_x002e_standaloneedittask_x0023_default_prop_bpm_description-container,
#page_x002e_data-form_x002e_standaloneedittask_x0023_default_prop_taskOwner-container {
	clear: both;
}

#page_x002e_data-form_x002e_standaloneedittask_x0023_default_prop_bpm_description {
}

#page_x002e_data-form_x002e_standaloneedittask_x0023_default_prop_taskOwner-container span.viewmode-label {
	width: 8em;
}

#page_x002e_data-form_x002e_standaloneedittask_x0023_default_prop_bpm_percentComplete-container,
#page_x002e_data-form_x002e_standaloneedittask_x0023_default_prop_bpm_priority-container {
	display: none;
}

#page_x002e_data-form_x002e_standaloneedittask_x0023_default_assoc_packageItems-cntrl-container,
#page_x002e_data-form_x002e_standaloneedittask_x0023_default-form-buttons {
	display: none;
}

#page_x002e_data-form_x002e_standaloneedittask_x0023_default_prop_transitions-container {
	top: 20px;
}

#page_x002e_data-form_x002e_standaloneedittask_x0023_default_prop_transitions {
	margin-left: auto;
	margin-right: auto;
}

#page_x002e_data-form_x002e_standaloneedittask_x0023_default_prop_transitions-buttons {
	margin-top: 25px;
}
